/* Vars */

:root {
	--color-black: #141414;
	--color-darkblue: #053053;
	--color-blue: #215584;
	--color-darkgray: #2c2c2c;
	--color-gray: #bababa;
	--color-champagne: #ceae97;
	--color-lightchampagne: #f7f5f2;
	--color-white: #fff;
	
	--font-sans: 'WorkSans', Helvetica, sans-serif;
	--font-serif: 'MaiolaPro', serif;

	--animtime: 200ms;
	--easing: ease-in-out;

	--gap: 20px;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after { box-sizing: inherit }
@-ms-viewport { width: device-width }

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
}

ol, ul { list-style: none }
blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Type */

body, input, select, textarea {
	line-height: 1.5;
	font-family: var(--font-sans);
	font-size: 1em;
	font-weight: 400;
	color: var(--color-black);
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--color-darkblue);
	transition: color var(--animtime) var(--easing), border-bottom-color var(--animtime) var(--easing);
}

a:hover {
	border-bottom-color: transparent;
	color: var(--color-darkblue);
}

a:active { color: var(--color-champagne) }

strong, b {
	font-weight: 600;
	color: var(--color-black);
}

em, i { font-style: italic }

p { margin: 0 0 2em 0 }

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em 0;
	line-height: 1.65;
	font-family: var(--font-serif);
	font-weight: 600;
	color: var(--color-black);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	border-bottom: 0;
	color: inherit;
}

h1 { font-size: 2.5em }
h2 { font-size: 1.75em }
h3 { font-size: 1.35em }
h4 { font-size: 1.1em }
h5 { font-size: 0.9em }
h6 { font-size: 0.7em }

@media screen and (max-width: 736px) {
	h1 { font-size: 2em }
	h2 { font-size: 1.5em }
	h3 { font-size: 1.25em }
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

blockquote {
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
	border-left: solid 4px rgba(212, 212, 255, 0.1);
	font-style: italic;
}

hr {
	margin: 2em 0;
	border: 0;
	border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}

/* Global */

section:nth-child(n+2) { padding: 4em 0 }

section:nth-child(n+2) h2,
section:nth-child(n+2)>p:first-of-type {
	margin: 0 var(--gap);
	text-align: center;
}

section:nth-child(n+2) h2 { font-size: 2em }
section:nth-child(n+2)>p:first-of-type { font-size: 1.25em }

.cta {
	display: block;
	padding: 1em 2em;
	width: 100%;
	border: 0;
	text-align: center;
	font-weight: 600;
	font-variant-caps: all-small-caps;
	font-size: 1em;
	letter-spacing: .1em;
	text-decoration: none;
	transition: background-color var(--animtime) var(--easing), color var(--animtime) var(--easing);
}

.cta:hover {
	color: var(--color-white);
	background-color: var(--color-blue);
}

.cta:active {
	color: var(--color-white);
	background-color: var(--color-black);
}

.section_type_1>p:first-of-type::after {
	display: block;
	margin: var(--gap) auto;
	width: calc(var(--gap) * 4);
	height: calc(var(--gap) / 2);
	content: '';
	background: var(--color-champagne);
}

.section_type_2>h2:first-of-type::after {
	display: block;
	margin: .5em 0;
	height: 1px;
	content: '';
	background: var(--color-champagne);
}

.page_hero { margin: 2em 0 0 }

.page_hero h1,
.page_hero h2 {
	margin: 0 var(--gap);
	text-align: center;
}

.page_hero h1 { line-height: 1 }

.page_hero h2 {
	line-height: 1.25;
	font-weight: normal;
	font-style: italic;
}

.page_hero_copy {
	margin-top: 2em;
	padding: var(--gap);
	text-align: center;
	background-color: var(--color-white);
	transform: translateZ(0);
}

.page_hero_copy dl+dl {
	margin-top: 1em;
	border-top: 1px solid var(--color-champagne);
}

.page_hero_copy dl+dl dt { margin-top: 1em }
.page_hero_copy dd { font-weight: 600 }
.page_hero_copy a { text-decoration-color: var(--color-champagne) }

@media (min-width: 40rem)
{
	:root { --gap: 30px }
}

@media (min-width: 45rem)
{
	.cta {
		display: inline-block;
		padding: 1em;
	}
}

@media (min-width: 60rem)
{
	:root { --gap: 40px }

	section:first-of-type {
		padding-top: calc(6em + 2 * var(--gap));
		margin-top: calc(0px - 2 * var(--gap));
	}

	section:nth-of-type(n+2) { padding: 6em 0 }
	section h2 { font-size: 2.5em }

	.page_hero { margin: 0 var(--gap) }
	.page_hero h1 { font-size: 3em }
}

@media (min-width: 80rem)
{
	:root { --gap: 60px }

	section:first-of-type { padding-top: calc(8em + 2 * var(--gap)) }
	section:nth-of-type(n+2) { padding: 8em 0 }
	
	.section_type_1>p:first-of-type::after {
		width: calc(var(--gap) * 3);
		height: calc(var(--gap) / 4);
	}

	.page_hero h1 { font-size: 4em }
}

@media (min-width: 100rem)
{
	:root { --gap: 80px }
	.page_hero h1 { font-size: 4.5em }
}

@media (min-width: 120rem)
{
	section h2,
	section>p:first-of-type { margin: 0 calc(2 * var(--gap)) }

	section h2 { font-size: 3em }

	.page_hero { margin: 0 calc(2 * var(--gap)) }
	.page_hero h1 { font-size: 5em }
}

/* Sticky */

#sticky {
	position: sticky;
	width: 100%;
	top: 0;
	padding: .5rem calc(2 * var(--gap));
	z-index: 1;
	text-align: center;
	background: var(--color-darkgray);
	color: var(--color-white);
}

#sticky strong { color: inherit }

#sticky a {
	text-decoration: underline;
	text-decoration-color: var(--color-champagne);
}

#sticky a:hover { color: var(--color-lightchampagne) }
#sticky a:active { color: var(--color-champagne) }

@media (min-width: 60rem)
{
	#sticky { font-size: 1.25em }
}

@media (min-width: 80rem)
{
	#sticky { font-size: 1.5em }
}

/* Top image */

.top_image {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	filter: opacity(.15) grayscale(.5);
}

.top_image img { height: 100% }

@media (min-width: 60rem)
{
	.top_image img { height: 120vw }
}

@media (min-width: 80rem)
{
	.top_image img { height: 100vw }
}

/* Header */

header { margin: calc(2 * var(--gap)) var(--gap) }

.logo { display: block }

.logo svg {
	display: block;
	margin: 0 auto;
	max-width: 200px;
	fill: var(--color-black);
	transition: fill var(--animtime) var(--easing);
}

.logo:hover svg { fill: var(--color-darkblue) }

@media (min-width: 60rem)
{
	header {
		display: inline-block;
		margin: calc(2 * var(--gap)) 0 var(--gap) var(--gap);
		vertical-align: middle;
	}

	header svg { width: 200px }
}

@media (min-width: 80rem)
{
	header { margin: var(--gap) 0 calc(var(--gap) / 2) var(--gap) }
}

@media (min-width: 120rem)
{
	header { margin: var(--gap) 0 calc(var(--gap) / 2) calc(2 * var(--gap)) }
}

/* Footer */

footer {
	padding: 2em 0;
	color: var(--color-white);
	background: var(--color-black);
}

footer svg {
	display: block;
	margin: 0 auto 2em;
	max-width: 200px;
	fill: var(--color-white);
}

footer p {
	margin: 0 var(--gap);
	text-align: center;
}

footer li {
	text-align: center;
	line-height: 1.5;
}

footer h3 {
	display: block;
	margin-top: 2em;
	text-align: center;
	font-family: var(--font-sans);
	font-weight: 600;
	font-variant-caps: all-small-caps;
	font-size: 1em;
	letter-spacing: .1em;
	color: var(--color-champagne);
}

footer a:hover,
footer a:active {
	color: var(--color-white);
	text-decoration: underline;
	text-decoration-color: var(--color-champagne);
}

@media (min-width: 40rem)
{
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(min-content, max-content);
		gap: var(--gap);
	}

	footer svg,
	footer p { grid-column: 1/span 2 }
	
	footer svg { margin-bottom: 0 }
}

@media (min-width: 50rem)
{
	footer { grid-template-columns: repeat(4, 1fr) }

	footer svg {
		grid-row: 1/2;
		margin: 0 auto 0 var(--gap);
	}

	.footer_links { grid-row: 1/span 2 }
	footer h3 { margin-top: 0 }
	
	footer p,
	footer h3,
	footer li { text-align: left }
}

@media (min-width: 60rem)
{
	footer { padding: 3em 0 }
}

@media (min-width: 120rem)
{
	footer svg,
	footer p { margin: 0 auto 0 calc(2 * var(--gap)) }
}

/* Menu */

#menu { margin: 0 var(--gap) }

#menu_dropdown {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

#menu_dropdown_button {
	display: block;
	padding: 1em 2em;
	width: 100%;
	text-align: center;
	background-color: var(--color-darkblue);
	cursor: pointer;
	transition: background-color var(--animtime) var(--easing), color var(--animtime) var(--easing);
}

#menu_dropdown_button:hover {
	color: var(--color-white);
	background-color: var(--color-blue);
}

#menu_dropdown_button:active {
	color: var(--color-white);
	background-color: var(--color-black);
}

#menu_dropdown_button span {
	font-size: 1em;
	font-weight: 600;
	letter-spacing: .15em;
	font-variant-caps: all-small-caps;
	color: var(--color-white);
}

#menu span::after,
#menu a[href="#"]::after {
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid var(--color-white);
	content: '';
}

#menu_links { display: none }
#menu_dropdown:checked~#menu_links { display: block }

#menu a[href="#"]:focus-within::after,
#menu_dropdown:checked~#menu_dropdown_button span::after { transform: rotate(180deg) }

#menu_links li {
	display: block;
	position: relative;
	margin-top: 1px;
	text-align: center;
}

#menu_links a {
	display: block;
	padding: 1em 2em;
	width: 100%;
	font-weight: 600;
	font-variant-caps: all-small-caps;
	font-size: 1em;
	letter-spacing: .1em;
	text-decoration: none;
}

#menu_links>li>a {
	color: var(--color-white);
	background: var(--color-blue);
}

#menu_links>li>a:hover,
#menu_links>li>a:active { color: var(--color-white) }

#menu_links>li>a:hover { background-color: var(--color-darkblue) }
#menu_links>li>a:active { background-color: var(--color-black) }

#menu_links ul a {
	color: var(--color-black);
	background: var(--color-white);
}

#menu_links ul a:hover { background-color: var(--color-champagne) }

#menu_links ul a:active {
	color: var(--color-white);
	background-color: var(--color-black);
}

#menu_links ul {
	display: none;
}

#menu_links a:focus+ul {
	display: block
}

@media (min-width: 60rem)
{
	#menu {
		display: inline-block;
		margin: calc(2 * var(--gap) - 1em) var(--gap) calc(var(--gap) - 1em) 0;
		float: right;
		vertical-align: middle;
	}

	#menu_dropdown_button { display: none }

	#menu_links,
	#menu_links>li { display: inline-block }

	#menu_links>li {
		margin-top: 0;
		text-align: unset;
	}

	#menu_links>li>a {
		padding: 1em .75em;
		color: var(--color-black);
		background: transparent;
	}

	#menu_links>li:last-of-type>a {
		color: var(--color-white);
		background: var(--color-darkblue);
	}

	#menu span::after,
	#menu a[href="#"]::after { border-top: 6px solid var(--color-black) }

	#menu_links a:focus+ul {
		position: absolute;
		top: 100%;
		left: -.75em;
	}

	#menu_links li li { text-align: left }
	
	#menu_links ul a {
		padding: 1em;
		width: 16rem;
		color: var(--color-white);
		background-color: var(--color-darkblue);
		transition: background-color var(--animtime) var(--easing);
	}
	
	#menu_links>li>a:focus-within { background-color: var(--color-darkblue) }
	#menu_links ul a:hover { background-color: var(--color-blue) }
	#menu_links ul a:active { background-color: var(--color-black) }
	
	#menu a[href="#"]:focus-within::after,
	#menu a[href="#"]:hover::after { border-top: 6px solid var(--color-white) }
	
	#menu_links>li>a:focus-within { color: white }
}

@media (min-width: 80rem)
{
	#menu { margin: calc(var(--gap) - 1em) var(--gap) calc(var(--gap) / 2 - 1em) 0 }
}

@media (min-width: 120rem)
{
	#menu { margin: calc(var(--gap) - 1em) calc(2 * var(--gap)) calc(var(--gap) / 2 - 1em) 0 }
}

/* Hero */

#home_hero { margin: 4em 0 0 }

#home_hero h1,
#home_hero p {
	margin-left: var(--gap);
	margin-right: var(--gap);
	text-align: center;
}

#home_hero h1 {
	margin-bottom: 0;
	line-height: 1;
	font-size: 3em;
	font-weight: normal;
}

#home_hero h1::after {
	display: block;
	margin: var(--gap) auto;
	width: calc(var(--gap) * 4);
	height: calc(var(--gap) / 2);
	content: '';
	background: var(--color-champagne);
}

#home_hero p {
	line-height: 1.5;
	font-size: 1.25em;
	font-weight: 500;
	letter-spacing: -.025em;
}

#hero_ctas {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	gap: calc(var(--gap) / 2);
	margin: 1em var(--gap);
	text-align: center;
}

#hero_cta_consultation:not(:hover):not(:active) {
	background: var(--color-darkblue);
	color: var(--color-white);
}

#hero_cta_services:not(:hover):not(:active) {
	background: var(--color-gray);
	color: var(--color-black);
}

#hero_pictures {
	margin: 4em 0 0;
	display: flex;
	flex-flow: row nowrap;
}

.hero_picture {
	flex: 1 1 33.3333%;
	height: 50vw;
	background-color: var(--color-gray);
}

.hero_picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

@media (min-width: 45rem)
{
	#hero_ctas { flex-flow: row nowrap }
}

@media (min-width: 60rem)
{
	#home_hero { margin: 8em 0 0 }

	#home_hero h1 { font-size: 4em }
	#home_hero strong { 
		display: block;
		font-size: 1.125em;
	}

	#hero_ctas { justify-content: center }

	.cta {
		padding: 1em 2em;
		width: unset;
	}

	#hero_pictures {
		margin: 4em var(--gap) 0;
		gap: var(--gap);
	}

	.hero_picture { height: 30vw }
}

@media (min-width: 80rem)
{
	#home_hero { margin: 12em 0 0 }

	#home_hero h1::after {
		width: calc(var(--gap) * 3);
		height: calc(var(--gap) / 4);
	}

	#hero_pictures { gap: calc(var(--gap) / 2) }
}

@media (min-width: 120rem)
{
	#home_hero { margin: 16em 0 0 }

	#home_hero h1,
	#home_hero p,
	#hero_ctas,
	#hero_pictures {
		margin-left: calc(2 * var(--gap));
		margin-right: calc(2 * var(--gap));
	}

	#home_hero h1 { font-size: 5em }
}

/* Home: Services */

#home_services { background: var(--color-lightchampagne) }
#home_services_cards { margin: calc(2 * var(--gap)) 0 0 }
.home_service_card { margin: var(--gap) var(--gap) 0 }

.home_service_image img {
	width: 100%;
	height: auto;
}

.home_service_info {
	padding: 2em 0;
	text-align: center;
	background-color: var(--color-white);
}

.home_service_info h3 {
	margin-bottom: 0;
	font-size: 2em;
	font-style: italic;
	color: var(--color-blue);
}

.home_service_info h3::after {
	display: block;
	margin: .5em auto;
	width: calc(100% - 2 * var(--gap));
	height: 1px;
	content: '';
	background: var(--color-champagne);
}

.home_service_info p { margin: 0 var(--gap) }

@media (min-width: 50rem)
{
	.home_service_card {
		display: flex;
		flex-flow: row nowrap;
	}

	.home_service_card:nth-child(odd) { flex-direction: row-reverse }

	.home_service_card>div { flex: 1 1 50% }

	.home_service_info h3,
	.home_service_info p {
		margin: 0;
		padding: 0 var(--gap);
		text-align: left;
	}

	.home_service_info h3::after {
		position: relative;
		width: calc(100% + var(--gap));
	}

	.home_service_card:nth-child(odd) h3::after { right: var(--gap) }
}

@media (min-width: 80rem)
{
	.home_service_info { padding: 3em 0 }
	.home_service_info p { font-size: 1.25em }
}

@media (min-width: 120rem)
{
	.home_service_info { padding: 4em 0 }
	.home_service_card { margin: var(--gap) calc(2 * var(--gap)) 0 }
}

/* Home: Testimonials */

#home_testimonials {
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.85), rgba(255,255,255,.85)), url(img/bg-home_testimonials.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#home_testimonials_cards { margin: calc(2 * var(--gap)) 0 0 }

.home_testimonial_card {
	margin: var(--gap) var(--gap) 0;
	padding: 2em calc(2 * var(--gap));
	text-align: center;
	background: var(--color-white);
}

.home_testimonial_card p {
	margin: 0;
	line-height: 1.5;
}

.home_testimonial_card h3 {
	margin: 0;
	line-height: 1;
	font-style: italic;
	color: var(--color-blue);
}

.home_testimonial_card h3::before {
	display: block;
	margin: 1em auto;
	width: 100%;
	height: 1px;
	content: '';
	background: var(--color-champagne);
}

#home_testimonials>a {
	margin: 2em var(--gap) 0;
	width: unset;
}

#home_testimonials>a:not(:hover):not(:active) {
	color: var(--color-black);
	background: var(--color-champagne);
}

@media (min-width: 60rem)
{
	#home_testimonials_cards {
		display: flex;
		flex-flow: row nowrap;
		gap: var(--gap);
		margin: calc(2 * var(--gap)) var(--gap) 0;
	}

	.home_testimonial_card {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		flex: 1 1 33.3333%;
		margin: 0;
		padding: 2em;
		text-align: left;
	}

	.home_testimonial_card p {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.home_testimonial_card h3 {
		flex-grow: 0;
		flex-shrink: 1;
	}

	.home_testimonial_card h3::after {
		margin-right: .25em;
		float: left;
		content: '\2014';
	}
}

@media (min-width: 80rem)
{
	#home_testimonials_cards { gap: calc(var(--gap) / 2) }
}

@media (min-width: 100rem)
{
	#home_testimonials_cards { margin: var(--gap) var(--gap) 0 }
}

@media (min-width: 100rem)
{
	#home_testimonials_cards { margin: var(--gap) calc(2 * var(--gap)) 0 }
	.home_testimonial_card p { font-size: 1.125em }
	#home_testimonials>a { margin: 2em calc(2 * var(--gap)) 0 }
}

/* Home: Projects */

#home_projects {
	background-color: var(--color-black);
	text-align: center;
}

#home_projects h2,
#home_projects>p { color: var(--color-white) }

#home_projects h2 { font-style: italic }

#home_projects_gallery {
	display: block;
	margin-top: 2em;
}

#home_projects_gallery li+li{ margin-top: var(--gap) }

.home_project a {
	display: block;
	line-height: 0;
}

.home_project img {
	width: 100%;
	height: auto;
}

#home_projects .cta {
	margin: 2em var(--gap) 0;
	width: unset;
}

#home_projects .cta:not(:hover):not(:active) {
	color: var(--color-black);
	background: var(--color-champagne);
}

@media (min-width: 30rem)
{
	#home_projects_gallery {
		column-count: 2;
		column-gap: var(--gap);
	}

	@supports (grid-template-rows: masonry)
	{
		#home_projects_gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-columns: masonry;
			gap: var(--gap);
		}
	}
}

@media (min-width: 45rem)
{
	#home_projects .cta { margin: 2em auto 0 }
}

@media (min-width: 50rem)
{
	#home_projects_gallery { margin: 2em var(--gap) 0 }
}

@media (min-width: 80rem)
{
	#home_projects {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: min-content min-content auto min-content;
		gap: 0 var(--gap);
	}

	#home_projects::before {
		position: absolute;
		display: block;
		width: 329px;
		height: 236px;
		top: 50%;
		left: calc(0px - 1.5 * var(--gap));
		content: '';
		opacity: .05;
		background-color: var(--color-lightchampagne);
		-webkit-mask: url('logos.svg#w-view');
		mask: url('logos.svg#w-view');
		-webkit-mask-size: cover;
		mask-size: cover;
	}

	#home_projects h2,
	#home_projects p {
		grid-column: 1/2;
		text-align: left;
		margin-right: 0;
	}

	#home_projects h2 { grid-row: 1/2 }
	#home_projects p { grid-row: 2/3 }

	#home_projects_gallery,
	#home_projects .cta {
		grid-column: 2/3;
		margin-left: 0;
	}

	#home_projects_gallery {
		grid-row: 1/span 3;
		margin-top: 0;
		column-gap: calc(var(--gap) / 2);
	}

	#home_projects_gallery li+li { margin-top: calc(var(--gap) / 2) }

	#home_projects .cta { grid-row: 4/5 }
}

@media (min-width: 120rem)
{
	#home_projects_gallery { margin: 2em calc(2 * var(--gap)) 0 0 }
}

/* Home: About */

#home_about {
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.85), rgba(255,255,255,.85)), url(img/bg-home_about.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#home_about .cta {
	margin: 2em var(--gap) 0;
	width: unset;
}

#home_about .cta:not(:hover):not(:active) {
	color: var(--color-white);
	background: var(--color-darkblue);
}

@media (min-width: 45rem)
{
	#home_about .cta { margin: 2em auto 0 }
}

@media (min-width: 60rem)
{
	#home_about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(min-content, max-content);
		gap: 0 var(--gap);
	}

	#home_about h2 {
		grid-column: 1/2;
		grid-row: 1/-1;
		margin: 0 0 0 var(--gap);
		text-align: left;
	}

	#home_about p {
		grid-column: 2/3;
		margin: 0 var(--gap) 0 0;
		text-align: left;
	}

	#home_about .cta {
		grid-column: 2/3;
		margin: 2em auto 0 0;
	}
}

@media (min-width: 120rem)
{
	#home_about h2 { margin: 0 0 0 calc(2 * var(--gap)) }
	#home_about p { margin: 0 calc(2 * var(--gap)) 0 0 }
}

/* Contact */

.contact { background: var(--color-darkblue) }

.contact h2,
.contact a,
.contact strong,
.contact p { color: var(--color-white) }

.contact fieldset {
	position: relative;
	margin: 1em var(--gap);
}

.contact input:not([type="submit"]),
.contact textarea {
	display: block;
	width: 100%;
	padding: .5em;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--color-blue);
	border-radius: 0;
	line-height: 1.5;
	font-size: 1.125em;
	font-weight: 500;
	color: var(--color-white);
	background-color: var(--color-darkblue);
	transition: background var(--animtime) var(--easing), color var(--animtime) var(--easing);
}

.contact textarea { resize: vertical }

.contact input:required {
	background-image: url('logos.svg#asterisk-view');
	background-size: 1em 1em;
	background-position: right 50%;
	background-repeat: no-repeat;
}

.contact input:focus,
.contact textarea:focus {
	color: var(--color-black);
	outline: 1px solid var(--color-champagne);
	background: var(--color-white);
}

.contact label {
	position: relative;
	font-weight: 400;
	font-variant-caps: all-small-caps;
	font-size: 1em;
	letter-spacing: .1em;
	color: var(--color-white);
	opacity: .5;
}

.contact input[required]~label::after {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	right: .5em;
	content: '\002a';
	font-family: var(--font-serif);
	font-size: 2em;
	color: var(--color-blue);
}

.contact button {
	margin: 2em var(--gap) 0;
	padding: .75em 1.5em;
	width: unset;
	font-size: 1.25em;
}

.contact button:not(:hover):not(:active) {
	background-color: var(--color-champagne);
}

.contact legend {
	margin: .5em var(--gap) 0;
	font-style: italic;
	color: var(--color-white);
}

#contact_map { margin: 4em var(--gap) 2em }

.contact a {
	text-decoration: underline;
	text-decoration-color: var(--color-blue);
}

.contact_info p,
.contact_info dl {
	margin: .5em 0 0;
	text-align: center;
}

.contact_info dt {
	color: var(--color-white);
	opacity: .75;
}

.contact_info dd { color: var(--color-blue) }
.contact_info dd+dt { margin-top: 2em }

#contact_hero_copy { background-color: var(--color-lightchampagne) }

@media (min-width: 40rem)
{
	.contact_info p { font-size: 1.125em }

	#contact_hero_copy {
		display: flex;
		flex-flow: row nowrap;
	}
	
	#contact_hero_copy dl+dl {
		padding: 0 1em;
		border-top: none;
		border-left: 1px solid var(--color-champagne);
	}
	
	#contact_hero_copy dl:first-of-type { padding: 0 1em 0 0 }
	#contact_hero_copy dl:last-of-type { padding: 0 0 0 1em }

	#contact_hero_copy dl { flex: 1 1 auto }
	#contact_hero_copy dl+dl,
	#contact_hero_copy dl+dl dt { margin-top: 0 }
}

@media (min-width: 60rem)
{
	.contact {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto 1fr auto;
		grid-column-gap: var(--gap);
	}

	.contact h2,
	.contact>p:first-of-type { grid-column: 1/-1 }
	.contact h2 { grid-row: 1/2 }
	.contact>p:first-of-type { grid-row: 2/3 }
	.contact fieldset { margin: 1em 0 }
	.contact legend { margin: .5em 0 0 }
	.contact button { margin: 2em 0 0 }
	#contact_map { margin: 0 0 1em }
	
	.contact_info p {
		grid-column: 2/3;
		margin: 0 var(--gap) 0 0;
		text-align: left;
	}

	.contact form {
		grid-row: 3/-1;
		margin: calc(2 * var(--gap)) 0 0 var(--gap);
	}

	.contact_info { margin: calc(2 * var(--gap)) var(--gap) 0 0 }
	
	.contact_info p,
	.contact_info dl { text-align: left }

	.contact_info dd,
	#contact_hero_copy dd { font-size: 1.125em }
}

@media (min-width: 80rem)
{
	.contact form { margin: var(--gap) 0 0 var(--gap) }
	.contact_info { margin: var(--gap) var(--gap) 0 0 }
	#contact_map { margin: 0 0 1em }
	
	.contact_info p,
	.contact_info dd,
	#contact_hero_copy dd { font-size: 1.25em }
	
	#contact_hero_copy dd { margin-top: .5em }
}

@media (min-width: 100rem)
{
	#contact_hero_copy dt { font-size: 1.25em }
	#contact_hero_copy dd { font-size: 1.5em }
}

@media (min-width: 120rem)
{
	.contact form { margin: var(--gap) 0 0 calc(2 * var(--gap)) }
	.contact_info { margin: var(--gap) calc(2 * var(--gap)) 0 0 }
}
